<!DOCTYPE html>
<html>
<head>
  <title>Performance</title>
  <meta charset="utf-8"/>

  <link rel="stylesheet" href="../../../bower_components/angular-debug-bar/dist/css/angular-debug-bar.css"/>
</head>

<body ng-app="APP">
<div ng-controller="PerformanceCtrl as vm">
  <label>
    <input type="text" ng-model="filter.query"/>
  </label>
  <table ng-show="vm.getItems().length">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>List</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in vm.getItems() | filter:filter.query" post-repeat-tracker>
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>
        <ul ng-show="item.nested">
          <li ng-repeat="row in item.nested">{{ row }}</li>
        </ul>
        <span ng-show="!item.nested">-</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<angular-debug-bar></angular-debug-bar>

<script src="../../../bower_components/angular/angular.js"></script>
<script src="../../../bower_components/angular-debug-bar/dist/js/angular-debug-bar.js"></script>
<script src="performance.js"></script>
</body>
</html>
